
.Item {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: stretch;

  &:hover {
    background-color: rgb(96.1%, 96.1%, 96.1%);
  }

  .profileContainer {
    $profileSize: 50px;

    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: $profileSize;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 16px;

    .profile {
      width: $profileSize;
      height: $profileSize;

      border-radius: 100%;
    }
  }

  .nameStatusMsgContainer {
    flex: 1;

    display: flex;
    flex-direction: row;

    justify-content: center;

    margin-left: 16px;

    .name {
      flex: 1;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      .text {
        font-size: 16px;
      }
    }

    .statusMsg {
      flex: 1;

      display: flex;
      justify-content: flex-end;
      align-items: center;

    }
  }

}