
.dialog {
  width: 50vw;

  .searchContainer {

    .input {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  .listContainer {
    margin-top: 8px;
  }

}

