@import "../../colors.scss";
@import "../../sizes.scss";

.ChatInputContainer {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  background-color: white;
  
  padding: 2px;

  .input {

    $inputHeight: 42px;

    width: 100%;
    height: 100%;
    font-size: $inputSize;
    
    border: 1px;
    border-style: solid;
    border-radius: $inputHeight/2;
    border-color: #dcdcdc; 

    background-color: #f5f5f5;

    padding-left: 12px;
    padding-right: 2px;
  }
  
  .sendBtn {
    flex-basis: 42px; 
    flex-shrink: 0;
    flex-grow: 0;


  }
}

.SendBtn {
  $size: 32px;

  width: $size;
  height: $size;

  .icon {
    color: black;
    position: absolute;
  }
}