<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webkakao.auth.database.UserMapper">

	<select id="getUserByEmail" parameterType="String" resultType="com.webkakao.auth.model.response.LoginResponse">
		select
			user_idx,
			email,
			password,
			name,
			status_msg,
			profile_img,
			salt,
			user_type
		from 
			user
		where
			email = #{email}
	</select>
	
	<select id="duplicatieCheck" parameterType="String" resultType="String">
		select
			email
		from 
			user
		where
			email = #{email}
	</select>
	
	<insert id="insertUser" parameterType="com.webkakao.auth.model.request.SignUp">
    	insert into USER (
    		password,
    		email,
    		name,
    		salt
    	) 
    	values (
    		#{password},
    		#{email},
    		#{name},
    		#{salt}
    	)
    </insert>
    
    <select id="userCheck" parameterType="com.webkakao.auth.model.request.PasswordReset" resultType="com.webkakao.auth.model.UserCheck">
		select
			email,
			name
		from 
			user
		where
			email = #{email} and name = #{name}
	</select>
    
    <update id="passwordReset" parameterType="com.webkakao.auth.model.request.PasswordReset">
    	update
    		user
    	set
    		salt = #{salt},
    		password = #{password}
    	where
    		email = #{email} 
    			and 
    		name = #{name}
    </update>

</mapper>
