 .titleBar {
  height: 15%;
  text-align: center;
}
.menuBar {
  height: 15%;
} 

  .LeftContainer {
    height: 100%;
    width: 300px;
    flex: 1
  }
  .RightContainer {
    height: 95%;
    width: 60%;
    text-align: center;
    border: 1px solid black;
    vertical-align: top;
    flex: 1;
  }

  .temp {
    height: 85%;
    border: 1px solid black;
    text-align: center;
  }