.LeftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .titleBar {
    flex-basis: 40px;
    flex-shrink: 0;
    text-align: center;
  }

  .menuBar {
    flex-basis: 40px;
    flex-shrink: 0;
  }

  .chatroomList {
    flex: 1;
  }
}

.RightContainer {
  width: 100%;
  height: 100%;
}