<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webkakao.api.database.ChatroomMapper">

	<resultMap id="ChatroomInfo" type="com.webkakao.api.model.ChatroomInfo">
		<result property="chatroom_idx" column="chatroom_idx" />
		<result property="start_msg_idx" column="start_msg_idx" />
		<result property="last_msg_idx" column="last_msg_idx" />
		<result property="last_read_msg_idx" column="last_read_msg_idx" />
	</resultMap>
	
	<resultMap id="ChatroomUserList" type="com.webkakao.api.model.ChatroomUserList">
		<result property="chatroom_idx" column="chatroom_idx" />
		<result property="user_idx" column="user_idx" />
		<result property="name" column="name" />
		<result property="profile_img" column="profile_img" />
		<result property="start_msg_idx" column="start_msg_idx" />
		<result property="last_read_msg_idx" column="last_read_msg_idx" />
	</resultMap>

	<insert id="insertChatroom" parameterType="com.webkakao.api.model.ChatroomInfo" useGeneratedKeys="true" keyProperty="chatroom_idx">
    	insert into chat_room (
    		creator_idx,
    		msg_object_id
    	) 
    	values (
    		#{from_user_idx},
    		#{msg_object_id}
    	)
    </insert>
    
    <insert id="checkInChatroom" parameterType="Map">
		insert into chatroom_member (
    		chatroom_idx,
    		user_idx,
    		last_read_msg_idx,
    		start_msg_idx
    	) 
    	values (
    		#{chatroom_idx},
    		#{user_idx},
    		#{last_read_msg_idx},
    		#{start_msg_idx}
    	)
	</insert>
	
	<select id="getLastMsgIdx" parameterType="Long" resultType="Long">
		select 
			last_msg_idx
		from 
			chat_room
		where
			chatroom_idx = #{chatroom_idx};
	</select>
	
	<select id="getChatroomList" parameterType="Long" resultMap="ChatroomInfo">
		select 
	    	start_msg_idx,
	    	last_read_msg_idx,
	    	chat_room.chatroom_idx,
	    	chat_room.last_msg_idx
		from
			chatroom_member
		left join
			chat_room
		on
			chatroom_member.chatroom_idx = chat_room.chatroom_idx
		where user_idx = #{user_idx}; 
	</select>
	
	<delete id="checkOutChatroom" parameterType="com.webkakao.api.model.request.CheckOutChatroom">
		delete from
			chatroom_member
		where
			chatroom_idx = #{chatroom_idx} and user_idx = #{user_idx}
	</delete>

	<select id="getChatroomUserList" parameterType="Long" resultMap="ChatroomUserList">
		select
			A.chatroom_idx, A.user_idx, B.name, B.profile_img, A.start_msg_idx, A.last_read_msg_idx
		from
			chatroom_member A
		join
			user B
		on
			A.user_idx = B.user_idx
		where A.chatroom_idx in (select chatroom_idx from chatroom_member where user_idx = #{value});
	</select>
	
</mapper>
