<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webkakao.database.FriendMapper">

	<insert id="insertUser" parameterType="com.webkakao.api.meodel.request.RequestFriend">
    	insert into USER (
    		from_user_idx,
    		to_user_idx
    	) 
    	values (
    		#{from_user_idx},
    		#{to_user_idx}
    	)
    </insert>
    
    <select id="getFriendInfo" parameterType="Long" resultType="com.webkakao.api.meodel.response.RequestFriendParam">
		select 
			user_idx,
			name,
			profile_img,
			status_msg
		from 
			user
		where
			user_idx = #{user_idx};
	</select>
	
	<select id="searchFriend" parameterType="String" resultType="com.webkakao.api.meodel.response.SearchFriendParam">
		select 
			user_idx,
			name,
			profile_img,
			status_msg
		from 
			user
		where
			email = #{email};
	</select>
	
	<select id="getUserInfo" parameterType="Long" resultType="com.webkakao.api.meodel.response.GetUserInfoParam">
		select 
			background_img
		from 
			user
		where
			user_idx = #{user_idx};
	</select>
	
	<update id="updateFriendStatus" parameterType="com.webkakao.api.meodel.response.UpdateFriendStatus">
		update
			user
		set
			status = #{status}
		where
			from_user_idx = #{from_user_idx} and to_user_idx = #{to_user_idx}
	</update>
	
	<select id="getFriendList" parameterType="Long" resultMap="com.webkakao.api.meodel.FriendInfo">
		select 
			user_idx,
			name,
			profile_img,
			status_msg
		from 
			user
		where
			user_idx = #{user_idx};
	</select>
	
</mapper>
