.menuContainer {
  width: 100%;
  height: 50px;

  .border {
    border: 1px solid black;
  }

  .menuBarBtn {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 2% 0% 0%;
  }

  .menuBarLogo {
    width: 20px;
    height: 20px;
  }

  .tab {
    min-width: 72px;
    width: 72px;
  }
}