  .inline {
    display: inline-block;
  }

  .menu_bar_btn {
    width: 33%;
    height: 100%;
    text-align: center;
    margin: 2% 0% 0%;
  }

  .border {
    border: 1px solid black;
  }

  .menuContainer div {
    height: 50 px;
  }

  .menu_bar_logo {
    width: 20px;
    height: 20px;
  }