@import "../../colors.scss";

.menuContainer {
  width: 100%;
  height: 48px;

  .tabs {
    height: 48px;

    .tab {
      
      &:hover {
        color: $kakaoYellow;
        opacity: 1;
      }

      &.selected {
        color: $kakaoYellow;
      }
    }

    .indicator {
      position: absolute;
      top: 0;
      background-color: $kakaoYellow;
    }

  }

  .border {
    border: 1px solid black;
  }

  .menuBarBtn {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 2% 0% 0%;
  }

  .menuBarLogo {
    width: 20px;
    height: 20px;
  }

  .tab {
    min-width: 72px;
    width: 72px;
  }
}