@import "../../colors.scss";

$profileSize: 48px;
$nameSize: 20px;
$msgSize: 24px;

.List {
  width: 100%;
  height: 100%;
  overflow: scroll;  
}


.ChatItem {
  margin-right: 8px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  // background-color: transparent;
  
  .profileContainer {
    flex-shrink: 0;
    flex-basis: $profileSize;    
    flex-grow: 0;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .senderMsgContainer {
    margin-left: 4px;
    margin-top: 2px;

    flex: 0;

    display: flex;
    flex-direction: column;
    flex-basis: auto;
    
    .sender {
      flex-basis: $nameSize;
      flex-shrink: 0;
      flex-grow: 0;

      background-color: transparent;
    }

    .msg {
      flex: 1;
      flex-shrink: 0;

      border-radius: 2px;

      padding: 6px;
      background-color: white;

    //TODO: Arrow
    }

  }




  .timeContainer {
    flex-basis: 100px;
    flex-shrink: 0; 
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    padding-left: 4px;
    
  }


}

.ChatItemMine {
  justify-content: flex-end;

  .timeMine {
    justify-content: flex-end;
    padding-right: 4px;
    flex-basis: auto;
  }

  .senderMsgContainerMine {
    flex: 0; 

    flex-basis: auto;

    .msgMine {
      flex: 0;
      background-color: $kakaoYellow;
    }
  }
}