global 
	log 127.0.0.1 local0
	log 127.0.0.1 local1 notice


defaults
	log global
	mode http
	option httplog
	option dontlognull
	retries 3
	option redispatch
	maxconn 2000
	timeout connect 5000
	timeout client 50000
	timeout server 50000


frontend localnodes
	bind *:8084
	mode http	
	default_backend nodes

backend nodes
	mode http
	balance roundrobin
	option forwardfor
	http-request set-header X-Forwarded-Port %[dst_port]
	http-request add-header X-Forwarded-Proto https if { ssl_fc }
	#option httpchk HEAD / HTTP/1.1\r\nHost:localhost
	#server server1 10.240.202.214:8080/AuthServer-0.0.1-SNAPSHOT 
	#server server2 10.240.119.95:8080/AuthServer-0.0.1-SNAPSHOT
	server server1 10.240.202.214:8080
	server server2 10.240.199.95:8080







