.List {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.ListItem {
  display: flex;
  flex-direction: row;
  min-height: 70px;
  width: 100%;
  height: 70px;
  align-items: stretch;

  padding-left: 10px;
  padding-right: 10px;

  overflow: hidden;

  &:hover {
    background-color: rgb(96.1%, 96.1%, 96.1%);
  }

  &.selected {
    background-color: rgb(96.1%, 96.1%, 96.1%);
  }
  
  .logoContainer {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 80%;
      height: 80%;

      border-radius: 100%;
    }

    .two {
      position: relative;
      width: 100%;
      height: 100%;

      .base {
        position: absolute;
        width: 70%;
        height: 70%;
        border-radius: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .img1 {
        top: 0;
        left: 0;
        z-index: 2;
      }

      .img2 {
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    .three {
      position: relative;
      width: 100%;
      height: 100%;

      .base {
        position: absolute;
        width: 60%;
        height: 60%;
        border-radius: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .img1 {
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .img2 {
        z-index: 2;
        bottom: 0;
      }
      
      .img3 {
        z-index: 1;
        bottom: 0;
        right: 0;
      }

    }

    .four {
      position: relative;
      width: 100%;
      height: 100%;

      .base {
        position: absolute;
        width: 55%;
        height: 55%;
        border-radius: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .img1 {
        top: 0;
        left: 0;
        z-index: 4;
      }

      .img2 {
        right: 0;
        top: 0;
        z-index: 3;
      }

      .img3 {
        left: 0;
        bottom: 0;
        z-index: 2;
      }

      .img4 {
        bottom: 0;
        right: 0;
        z-index: 1;
      }
    }
  }

  .nameMsgContainer {
    flex: 1;
    display: flex;

    margin-left: 6px;
    flex-direction: column;
    overflow: hidden; // 최근 메시지의 길이가 길더라도 고정된 폭을 제공


    .name {
      flex: 1;
      flex-shrink: 0;

      display: flex;
      align-items: flex-end;
      
      .text {
        font-size: 22px;
      }

    }

    .msg {
      flex: 1;
      display: 'flex';
      align-items: flex-start;
    }

    .count {
      margin-left: 8px;
    }

  }

  .dateBadgeContainer {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .date {
      flex: 1;
      
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      
      .text {
        color: rgb(200, 200, 200);
      }
    }

    .badge {
      flex: 1;

      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      .badgeRoot {
        position: relative;
        right: 10px;
        top: 25%;
      }

      .color {
        background-color: #F94B20;
      }
    }
  }
}