// 변수 사용하기
$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;
$green: #40c057;
$blue: #339af0;
$indigo: #5c7cfa;
$violet: #7950f2;
// mixin 만들기 (재사용되는 스타일 블록을 함수처럼 사용 할 수 있음)

.List {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.ListItem {
  display: flex;
  flex-direction: row;
  min-height: 70px;
  width: 100%;
  height: 70px;
  align-items: stretch;
  
  .logoContainer {
    flex: 1;
    // cursor: pointer;
    transition: all 0.3s ease-in;
    &:hover {
      // .box 에 마우스 올렸을 때
      background: black;
    }

  }

  .nameMsgContainer {
    flex: 10;
    display: flex;
    flex-direction: column;

    .name {
      min-height: 20px;

    }

    .msg {
      min-height: 30px;
    }
  }

  .dateContainer {
    flex: 1;
  }
}